* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Anonymous Pro";
    display: block;
}

header, section, footer{
    width: 100%;
}

.logo{
    height: 100%;
    display: flex;
    align-items: center;
}

.logo img{
    height: 50%;
}

header{
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    background-color: #F5F5F5;
    box-shadow: 0px -8px 40.7px #000000;
}

/* мобильный header */
@media (max-width: 980px) {
    .logo{
        margin-left: auto;
        margin-right: auto;
    }

    header{
        height: 10vw;
        background-color: #F5F5F5;
        box-shadow: 0px -8px 40.7px #000000;
    }
}

/* десктоп header*/
@media (min-width: 980px) {

    header{
        height: 7vw;
        padding-left: 1.5%;
        background-color: #F5F5F5;
        box-shadow: 0px -8px 40.7px #000000;
    }
}






.hello_section{
    position: relative;
    z-index: 1;
    display: flex;
    background: linear-gradient(60deg, rgba(79, 79, 79, 1) 0%, rgba(247, 247, 247, 1) 58%);
    box-shadow: 0px -9px 25px #000000;
}

/* мобильный hello */
@media (max-width: 980px){
}

/* десктопный hello */
@media (min-width: 980px){
}

.hello_content{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vw;
}


.hello_word{
    font-size: 10vw;
    letter-spacing: 1vw;
    font-weight: bold;
    text-shadow: -1vw 1vw 1vw rgba(0, 0, 0, 49%);
}

.hello_text{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    border-radius: 30px;
    background-color: #F5F5F5;
    box-shadow: -3.5vw 3.1vw 6vw rgba(0, 0, 0, 50%);
}

.hello_text p{
    font-size: 2.5vw;
    text-align: center;
    margin-top: 5vmin;
    margin-bottom: 5vmin;
    margin-left: 3vmin;
    margin-right: 3vmin;
}






.photos_section{
    height: auto;
    background: linear-gradient(43deg, rgb(82, 82, 82),rgb(255, 255, 255));
    padding: 72px 50px;
}

.photos_grid{
    display: grid;
    height: 1666.9811320752px;
    grid-template-columns: auto auto;
    grid-template-rows: 455.6603773584px 455.6603773584px 455.6603773584px 455.6603773584px;
    row-gap: 150px;
    justify-content: space-between;
}

.photos_frame{
    overflow: hidden;
    display: flex;
    position: relative;
    width: 700px;
    height: 455.6603773584px;
    border-radius: 10px;
    box-shadow: 0px 4px 48px rgba(0, 0, 0, 45%);
}

.frame_info{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    height: 94px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.27);
    backdrop-filter: blur(8.8px);
}

.frame_info p{
    height: 48px;
    width: 100px;
    color: #F5F5F5;
    text-align: center;
    font-size: 24px;
    letter-spacing: 5%;
}

.photos_frame img{
    width: 50%;
}




footer{
    display: flex;
    align-items: center;
    padding-left: 30px;
    height: 163px;
    background-color: #F5F5F5;
}

.contacts{
    display: grid;
    align-content: space-between;
    width: 100px;
    height: 50px;
    padding: 15px;
    font-size: 5px;
}

.contacts div{
    display: flex;
    align-items: center;
}

.contacts div img{
    height: 10px;
    width: 10px;
}

.contacts div p{
    margin-left: 17px;
}